nav {
    
    float: right;
    
}
li {
    display: inline-block;
    padding: 2px;

    
}

#logo {
    position: relative;
    right: 190%;
    
}

img {
    margin: 100px auto auto 400px;
    position: relative;
    
}


